@import url(//db.onlinewebfonts.com/c/e7a1c786f764930e3d994978aed4867a?family=Soho+Std&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body,
html {
    font-family: Lato;
    color: #353738;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: top;
}


[class*="__container"] {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 25px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------ */

.header {
    position: relative;
    background-color: #E8E8EE;
}

.header__container {
}

.header__nav {
    position: absolute;
    z-index: 3;
    max-width: 618px;
    top: 35px;
    left: 50%;
    transform: translate(-50%, 0);
}

.header__items {
    display: flex;
    justify-content: center;
    gap: 63px;
    align-items: center;
}

.header__item {
    display: flex;
    align-items: flex-end;
}

.header__link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13px;
    white-space: nowrap;
}

.item__dot::after{
    content: ".";
    position: relative;
    top: 0;
    left: 31.5px;
}

.header__bg{
    
}

.header__bg img{
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    object-fit:cover;
}